@font-face {  
  font-family: 'DuqueE14';
  src: url('/src/Fonts/DuqueE14.ttf'), /* IE9 Compat Modes */
       url('/src/Fonts/DuqueE14.ttf') format('truetype'); /* Modern Browsers */
}

.App {
  text-align: center;
  font-family: 'DuqueE14';
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 75px;
  margin-top: 10px;
  padding-top: 10px;
}

.App-header {
  background-color: #222;
  color: #ff4d00;
  display: block;  
}

.App-title {
  font-size: 2em;
}

.section-app {
  display: inline-grid;
  font-size: large;
  min-height: 617px;
  height: 73vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.candidate{
  margin: 0px 50px 10px 50px;
}

.candidateImg{
  width: 100px;
  background-color: #a8a8a8;
  border-radius: 10px;
}

.candidateList{
  display: inline-flex;
  text-align: center;
}

.vote-controls{
  display: inline-grid;
  color: #ff4d00;
  text-align: center;  
}

.color-total{
  color: #28282c;
}

.vote-controls label{
  font-size: xx-large;
  font-weight: bold;
}

.select-style{
  width: 150px;
  margin-bottom: 10px;
  display: inline-block;
}

.input-style{
  width: 120px;
  height: 35px;  
  font-size: large;
}

.btn-vote{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  width: 100px;
  font-size: large;
  color: #ff4d00;
  background-color: #222;
  border-radius: 10px;
  margin-left: 20px;
}

.votes-label{
  display: grid;
  font-size: xx-large;
}

.footer{
  background-color: #222;
  min-height: 14vh;
  padding: 20px;
  text-align: center;
  color: #ff4d00;
  display: block;
}

.footerm div { 
  display: inline-grid;
}

.container-fluid{
  min-height: 70vh;
  display: inline-block;
}

.btn-instructions{
  position: absolute;
  right: 20px;
  top: 30px;
  padding-top: 15px;
  margin-bottom: 0;
}